
*{padding:0; margin:0; box-sizing:border-box;}


.container{
    width: 320px;
    height: 450px;
    background-color: cornflowerblue;
    margin: auto;
    border: 1px solid black;
    margin-top: 25px;
}

.dados{
   width: 190px;
   margin-left:35px;
   font-size: 20px;
   display: flex;
   flex-direction: column;
}

.dados > p{
    margin-top: 8px;
}

input{
    width: 250px;
    padding:8px 0px;
    border-radius: 4px;
    font-size: 19px;
    text-align: center;
    color:navy
}


button{
    width: 130px;
    padding: 10px;
    margin-left:96px;
    margin-top: 20px;
    margin-bottom: 16px;
    font-size: 20px;
    background-color: black;
    color:white;
    border-radius: 4px;
    box-shadow:  2px 2px 2px white;
}

#Div-Resultado{
    width: 290px;
    height:120px;
    background-color:steelblue;
    border: 2px solid black;
    border-radius: 4px;
    margin: auto;
    color:white;
    font-size: 22px;
    text-align: center;
}